[project]
	description = Example program for tap driver VPN
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Homer Simpson (gregnietsky)
[access "refs/for/refs/*"]
	read = group user/Homer Simpson (gregnietsky)
	push = group user/Homer Simpson (gregnietsky)
	label-Code-Review = -2..+2 group user/Homer Simpson (gregnietsky)
	label-Verified = -1..+1 group user/Homer Simpson (gregnietsky)
	rebase = group user/Homer Simpson (gregnietsky)
	removeReviewer = group user/Homer Simpson (gregnietsky)
	submit = group user/Homer Simpson (gregnietsky)
[access "refs/heads/*"]
	read = group user/Homer Simpson (gregnietsky)
	create = group user/Homer Simpson (gregnietsky)
	push = +force group user/Homer Simpson (gregnietsky)
	pushMerge = group user/Homer Simpson (gregnietsky)
[access "refs/tags/*"]
	push = +force group user/Homer Simpson (gregnietsky)
	pushTag = group user/Homer Simpson (gregnietsky)
	pushSignedTag = group user/Homer Simpson (gregnietsky)
